$playerA-mainColor: red;
$playerB-mainColor: blue;

@mixin split($row, $column, $margin) {
	$width: (100-$margin*$column*2)/$column;
	$height: (100-$margin*$row*2)/$row;
	width: $width * 1%;
	height: $height * 1%;
	margin: $margin * 1%;
}

#wrapper {
	margin: 0px auto;
	width: 960px;
	height: 960px;
}

.board {
	margin: 0px auto;
	box-sizing: border-box;
	border-top: 5px solid $playerA-mainColor;
	border-bottom: 5px solid $playerA-mainColor;
	border-left: 5px solid $playerB-mainColor;
	border-right: 5px solid $playerB-mainColor;
	overflow: hidden;
	width: 80%;
	height: 80%;

	.panel {
		box-sizing: border-box;
		float: left;
		@include split(3, 3, 0);
		background-color: lightgray;

		.socket {
			float: left;
			@include split(3, 3, 1);
			cursor: pointer;
			background-color: gray;
		}
	}
}